
__pycache__/analyse.cpython-311.pyc
__pycache__/feedback.cpython-311.pyc
__pycache__/readfiles.cpython-311.pyc
*.pyc
__pycache__/readfiles.cpython-311.pyc
__pycache__/feedback.cpython-311.pyc
__pycache__/analyse.cpython-311.pyc
